@use "../util/" as *;
.card_container {
  display: flex;
  padding: 64px 92px;
  gap: 24px;

  @include for-mobile-only {
    flex-direction: column;
    padding: 16px;
  }

  hr {
    position: absolute;
    top: 50%;
    width: calc(100% - 184px);
    border: 6px solid var(--color-primary-cayn);
  }

  .card {
    background-color: white;
    min-height: 250px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: calc(100% / 3);
    border-radius: 10px;
    padding: 32px;

    @include for-mobile-only {
      width: 100%;
      text-align: center;
      margin-bottom: 24px;
    }

    &[class~="Records"] {
      top: 40px;

      @include for-mobile-only {
        top: unset;
      }
    }
    &[class~="Customizable"] {
      top: 80px;
      @include for-mobile-only {
        top: unset;
      }
    }

    h3 {
      color: var(--color-primary-violet);
      font-weight: 700;
      margin-bottom: 16px;
    }

    p {
      font-size: 1.4rem;
      color: var(--color-gray-violet);
    }

    .icon_wrapper {
      height: 70px;
      width: 70px;
      background-color: var(--color-primary-violet);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -40px;
      position: absolute;

      @include for-mobile-only {
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}
