@use "../util/" as *;
.content {
  @include for-mobile-only {
    // padding: 16px;
  }
  .section--one {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 32px 0px 0px 96px;

    @include for-mobile-only {
      flex-direction: column-reverse;
      padding: 16px;
      .des {
        text-align: center;
        button {
          margin: 24px auto !important;
        }
      }
      .image_wrapper {
        min-height: fit-content;
        min-width: 500px;
      }
    }
    .des {
      max-width: 500px;
      h1 {
        font-size: 5.2rem;
        font-weight: 700;
        line-height: 60px;
        color: var(--color-primary-violet);
      }

      p {
        color: var(--color-gray-violet);
      }

      button {
        min-width: 150px;
        margin: 24px 0px;
        padding: 10px;
        border-radius: 50px;
        background-color: var(--color-primary-cayn);

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .image_wrapper {
      margin-right: -60px;

      svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @include for-mobile-only {
        margin-right: unset;
        width: max-content;
      }
    }
  }

  .section--two {
    // min-height: 800px;
    background-color: #eff1f7;
    // background-color: gray;
    margin-top: 110px;
    // margin-bottom: 32px;
    padding-bottom: 110px;

    .statistics {
      // margin-bottom: 32px;
      .des {
        max-width: 450px;
        text-align: center;
        margin: 0 auto;

        @include for-mobile-only {
          max-width: 100%;
          padding: 16px;
          margin-bottom: 32px;
        }
        h2 {
          font-weight: 700;
          font-size: 3.2rem;
          color: var(--color-primary-violet);
        }

        p {
          color: var(--color-gray-violet);
          margin-top: 16px;
        }
      }
    }
  }
}
