@use "../util/" as *;

.footer {
  //   margin-top: 32px;
  .headSection {
    min-height: 200px;
    background-image: url("../images/bg-boost-desktop.svg");
    background: {
      size: cover;
      repeat: no-repeat;
      position: center center;
    }
    background-color: var(--color-primary-violet);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;

    h2 {
      font-weight: 700;
      font-size: 3.2rem;
      color: white;
    }

    button {
      background-color: var(--color-primary-cayn);
      min-width: 150px;
      max-height: 40px;
      border-radius: 20px;
    }
  }

  .body {
    min-height: 250px;
    background-color: var(--color-deep-violet);
    display: flex;
    padding: 64px 94px;

    @include for-mobile-only {
      flex-direction: column;
      padding: 16px;
      align-items: center;
    }

    svg {
      flex-grow: 1;
      flex: 40%;
      path {
        fill: white !important;
      }
    }

    ul {
      flex: calc(100% / 3);

      @include for-mobile-only {
        margin-top: 24px;
        padding: unset;
        flex: 100%;
        text-align: center;
      }
      li {
        font-size: 1.4rem;
        color: white;

        &:first-child {
          font-weight: 700;
        }

        &:not(:first-child) {
          color: var(--color-gray);
          margin: 16px 0px;
        }
      }
    }

    .icons_wrapper {
      @include for-mobile-only {
        display: flex;
      }
      .icons_wrapper {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        margin: 0px 10px;

        &:hover {
          background-color: var(--color-primary-cayn);
        }

        img {
          width: 20px !important;
          height: 20px !important;
          //   object-fit: cover;
        }
      }
    }
  }
}
