@use "../util/" as *;

.header {
  padding: 32px 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    ul {
      list-style-type: none;
      padding: unset;
      display: flex;

      li {
        color: var(--color-gray-violet);
        font-weight: 700;
        &:not(:first-child) {
          margin-top: 3px;
          margin: 0px 24px;
        }

        &:hover {
          color: var(--color-primary-violet);
        }
      }

      /* **
      media qurey for mobile display
      **/
      @include for-mobile-only {
        li:not(:first-child) {
          display: none;
        }
      }
    }

    .buttons {
      align-self: baseline;
      display: flex;

      button {
        border: unset;
        background-color: white;
        outline: unset;
        min-width: 100px;
        margin: 0px 5px;
        padding: 10px;
        font-weight: 700;
        border-radius: 50px;
        font-size: 1.6rem;
        cursor: pointer;
        color: var(--color-gray-violet);

        &:hover {
          background-color: var(--color-primary-cayn);
          color: white;
        }
      }

      /* **
      media qurey for mobile display
      **/
      @include for-mobile-only {
        display: none;
      }
    }

    .MenuIcon {
      fill: rgb(155, 148, 148);
      display: none;

      /* **
      media qurey for mobile display
      **/
      @include for-mobile-only {
        display: block;
        align-self: baseline;
        margin-top: 6px;
      }
    }
  }

  /* **
    media qurey for mobile display
    **/

  @include for-mobile-only {
    padding: 16px;
    flex-direction: column;
  }

  .mobileSidebar {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 350px;
    width: 100%;
    background-color: var(--color-primary-violet);
    border-radius: 10px;
    padding: 24px;

    ul {
      list-style-type: none;
      padding: unset;
      margin: unset;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      li {
        display: block;
        padding: unset;
        color: white;
        font-weight: 700;
        font-size: 1.8rem;
        margin: 16px 0px;
      }
    }

    hr {
      border: 0;
      height: 1px;
      background-color: var(--color-gray-violet);
      margin: 10px 0px;
      width: 100%;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      width: 100%;

      button {
        background-color: unset;
        border: unset;
        color: white;
        margin: 5px 0px;
        width: 100%;
        padding: 16px;
        border-radius: 20px;
        font-weight: 700;
        font-size: 1.6rem;

        &.active {
          background-color: var(--color-primary-cayn);
          color: white;
        }
      }
    }

    /* **
    media qurey for mobile display
    **/
    @include for-mobile-only {
      display: flex;
    }
  }
}
