.header {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    list-style-type: none;
    padding: unset;
    display: flex;

    li {
      margin: 0px 16px;
      color: var(--color-primary-violet);
      font-weight: 700;
      &:not(:first-child) {
        margin-top: 2px;
      }
    }
  }

  .buttons {
    button {
      border: unset;
      background-color: white;
      outline: unset;
      min-width: 100px;
      margin: 0px 5px;
      padding: 10px;
      font-weight: 700;
      border-radius: 50px;
      font-size: 1.6rem;
      cursor: pointer;
      color: var(--color-primary-violet);

      &:hover {
        background-color: var(--color-primary-cayn);
        color: white;
      }
    }
  }
}
