@use "../util/" as *;

.urlInput {
  width: calc(100% - 188px);
  margin: auto;
  top: -62px;

  @include for-mobile-only {
    width: calc(100% - 32px);
    // margin: unset;
  }
  .inputContainer {
    min-height: 100px;
    background-image: url("../images/bg-boost-desktop.svg");
    background: {
      size: cover;
      repeat: no-repeat;
      position: center center;
    }
    background-color: var(--color-primary-violet);
    border-radius: 10px;
    padding: 32px 96px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    @include for-mobile-only {
      flex-direction: column;
      padding: 16px;

      input {
        max-width: unset !important;
        width: 100%;
        flex: 100%;
      }

      button {
        min-width: 100%;
        padding: 16px !important;
      }
    }

    input {
      flex: 80%;
      max-width: 80%;
      min-height: 50px;
      border-radius: 10px;
      border: unset;
      outline: unset;
      font-size: 1.6rem;
      padding: 0px 16px;

      &:focus {
        outline: unset;
        border: unset;
      }
    }

    button {
      background-color: var(--color-primary-cayn);
      width: 100%;
      flex: 20%;
      height: 50px;
      border-radius: 10px;
      padding: unset;
    }
  }

  .urlContainer {
    margin-top: 20px;
    height: 50px;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-mobile-only {
      flex-direction: column;
      align-items: flex-start;
      height: fit-content;
      gap: 10px;
    }

    .longurl {
      flex-grow: 1;

      @include for-mobile-only {
        border-bottom: 1px solid var(--color-gray);
        padding-bottom: 10px;
        width: 100%;
      }
    }

    .shorturl {
      color: var(--color-primary-cayn);
    }

    button {
      background-color: var(--color-primary-cayn);
      max-height: 30px;
      margin-left: 16px;
      border-radius: 8px;
      font-size: 1.4rem;

      &.copied {
        background-color: var(--color-deep-violet);
      }

      @include for-mobile-only {
        margin-left: unset;
        width: 100%;
        max-height: 50px;
      }
    }
  }
}
